

.allplots-container{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 6rem 6rem 1rem 6rem;
    border: 1px solid red;
}

.allplots-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.allplots-header a{
    padding: 0.3rem 1.5rem;
    background-color: var(--color-five);
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px var(--color-nine);
    font-size: 0.95rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-six);
}


